<HTML>
	<BODY>
		<TABLE BORDER="1PX">
			<TR>
				<TD>ID</TD>
				<TD>NOME</TD>
				<TD>DESCRICAO</TD>
				<TD>PREÇO</TD>
			</TR>
			<% for(var i = 0 ; i < lista.length ; i++){ %>
				<TR>
					<TD><%=lista[i].id_livro%></TD>
					<TD><%=lista[i].titulo%></TD>
					<TD><%=lista[i].descricao%></TD>
					<TD><%=lista[i].preco%></TD>
				</TR>
			<% } %>
		</TABLE>
	</BODY>
</HTML>