<HTML>
    <BODY>
        <FORM action="/produtos/salvar" method="post">
            <DIV>
                <LABEL FOR="titulo">Título</LABEL>
                <INPUT id="titulo" TYPE="text" NAME="titulo" PLACEHOLDER="coloque o titulo" />
            </DIV>
            
            <DIV>
                <LABEL FOR="preco">Preço</LABEL>
                <INPUT id="preco" TYPE="text" NAME="preco" PLACEHOLDER="150.00" />
            </DIV>

            <DIV>
                <LABEL FOR="descricao">Descrição</LABEL>
                <TEXTAREA cols="20" rows="10" id="descricao" NAME="descricao" PLACEHOLDER="Fale sobre o livro" ></TEXTAREA>
            </DIV>
            <INPUT type="submit" value="Gravar" />
        </FORM> 
    </BODY>
</HTML>