.jumbotron{
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.table{
    margin-top:20px;
    width: 100%;
}
.form-control{
    margin-bottom: 5px;
}
.selecionado{
    background-color: yellow !important;
}
.negrito{
    font-weight: bold !important;
}